@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

/* * {
   font-family: "Roboto", sans-serif;
   background-color: #9eaeca;
   box-sizing: border-box;
 }

 header {
   display: flex;
   justify-content: space-between;
   padding-top: 70px;
   padding-right: 12px;
   height: 100px;
   align-items: center;
 }

 body {
  
 }


 .logo {
   display: flex;
   width: 200px; 
   height: 200px;
   padding-top: 50px;
   padding-left: 50px;
   padding-right: 150px;
 }

 .menu {
   flex: 3;
   display: flex;

 }

 .menu ul li {
   padding: 0px 12px;
   position: relative;
 }

 .sub-menu {
   position: absolute;
   width: 150px;
   border: 1px solid #CCC;
   padding: 10px 0px 10px 20px;
   visibility: hidden;
   top: 50px;
   transition: 0.3s;
 }

  .menu > li:hover .sub-menu {
   visibility: visible;
   top: 30px;
 } 

 .sub-menu li a {
   font-weight: normal;
   font-size: 12px;
 }

 .sub-menu ul {
   padding-left: 20px;
 }

 .sub-menu ul a {
   font-weight: normal!important;
   font-size: 12px!important;
 }

 .menu li a {
   font-size: 12px;
   font-weight: bold;
   display: block;
   line-height: 20px;
 }

 .others {
   flex: 1;
   display: flex;
 }

 .others > li {
   padding: 0px 12px;
 }

 .others > li:first-child {
 position: relative;
}
 .others > li:first-child input {
   width: 100%;
   border: none;
   border-bottom: 1px solid #333;
 }

 .others > li:first-child i {
   position: absolute;
   right: 10px;
 }

 a {
   text-decoration: none;
   color: #000;
 }

#title-main {
   color: #0d2342;
   position: relative;
   text-transform: capitalize;
   text-align: center;
}

.normal_h2-h3 {
   color: #2b4c7e;
   position: relative;
   text-transform: capitalize;
   text-align: center;
}

.incenter {
   position: relative;
   text-transform: capitalize;
   text-align: center;
   margin: auto;
}

#only4login {
   color: inherit;
   text-decoration-line: none;
   margin-right: 20px;
}
#only4resign {
   color: inherit;
   text-decoration-line: none;
   margin-right: 20px;
}

#only4mygit {
   color: inherit;
   text-decoration-line: none;
   margin-right: 20px;
}

#only4myteam {
   color: inherit;
   text-decoration-line: none;
   margin-right: 20px;
}

#only4responsiblewebsites {
   color: inherit;
   text-decoration-line: none;
   margin-right: 20px;
}

#only4algorithm {
   color: inherit;
   text-decoration-line: none;
   margin-right: 20px;
}

#only4about {
   color: inherit;
   text-decoration-line: none;
   margin-right: 20px;
}

.box-1 {
   position: sticky;
   top: 0;
   z-index: 1;
   border:2px solid #f3efef;
   padding: 10px;
}
.box-2 {
   display: inline-block;  
   position: relative;        
   border: 5px solid #f3efef; 
   padding: 10px;             
   max-width: 100%;            
   box-sizing: border-box;      
}
.support {
    display: flex;
    width: 1100px; 
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 5px;
 }

 .support img {
  max-width: 75%;
  max-height: 75%;
  object-fit: contain;
  margin-left: 5px;
}

.myEmail {
   position: absolute;
   color: #FFFFFF;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);  
   padding:10px;
   font-size: 25px;
}

.email-container {
  position: relative;
  width: auto;
  height: auto;
}

.pop-up {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.box-pop-up { 
   position: fixed; 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);       
   border: 5px solid #f3efef; 
   padding: 10px;                       
   box-sizing: border-box;    
   text-align: center;
   max-width: 500px;
}

/*Blank*/

/*
th {     }
th, td {    }
*/


/* Activate */

* {
  font-family: "Roboto", sans-serif !important;
}

.pop-up {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.box-pop-up { 
   position: fixed; 
   color: #2c2b22;
   background-color: #9eaeca;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);       
   border: 5px solid #f3efef; 
   padding: 10px;                       
   box-sizing: border-box;    
   text-align: center;
   max-width: 500px;
}